<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <style>
    
    .contenedorCards {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    .card {
      border: 1px solid #ccc;
      padding: 10px;
      width: 200px;
      box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
      border-radius: 5px;
    }
  </style>
</head>
<body>
  {{{body}}} 
</body>
</html>