<h1>Agregar producto</h1>

<form>
  <input type="text" id="title" placeholder="Titulo" />
  <input type="text" id="description" placeholder="Descripción" />
  <input type="number" id="price" placeholder="Precio" />
  <input type="text" id="img" value="Sin imagen" />
  <input type="text" id="code" placeholder="Código" />
  <input type="number" id="stock" placeholder="Stock" />
  <input type="text" id="category" placeholder="Categoria" />
  <select id="status">
    <option value="true">Activo</option>
    <option value="false">Inactivo</option>
  </select>
  <button type="button" id="btnEnviar">Enviar</button>
</form>

<h2>Lista de productos en tiempo real</h2>
<div id="listaProductos" class="contenedorCards"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/index.js"></script>
